<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Located in Silicon Valley, the National Center for Collaborative Healthcare Innovation is translating complex technologies from the research bench to the clinical bedside.">
  <meta name="keywords" content="National Center for Collaborative Healthcare Innovation, NCCHI">
  <title>VHA - National Centers for Collaborative Healthcare Innovation</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/styles.css">
  
  <link id="favicon" rel="shortcut icon" href="assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="assets/uswds/js/uswds-init.min.js"></script>

  <body class="ncchi-home style-ncchi">

    <!-- SITE WRAPPER - START -->
    <div class="site-wrapper">
    {% include "header.html" %}

    <main>
      {% include "home/masthead.html" %}

      <!-- MISSAN STATEMENT - START -->
      <section id="mission-statement" class="mission-statement mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
        <div class="grid-container">
          <div class="grid-row grid-gap flex-align-center">
            <div class="tablet-lg:grid-col-6 mobile:margin-bottom-4 tablet:margin-bottom-6">
              <img src="assets/img/home/mission-statement-2x.jpg" class="img-fluid radius-lg" alt="Medical professionals working with AR to visualize the human heart, lungs, and blood vessels" />
            </div>
            <div class="tablet-lg:grid-col-6 desktop-lg:grid-col-6 widescreen:grid-col-5 widescreen:grid-offset-1">
              <span class="h3 heading-subtitle">NCCHI</span>
              <h1 class="margin-top-0">Our Mission</h1>
              <p>Located in Silicon Valley, the National Center for Collaborative Healthcare Innovation (NCCHI) collaborates broadly with industry partners, other government agencies, academia, and throughout VA to create a far-reaching positive impact on Veteran care. NCCHI is translating complex technologies from the research bench to the clinical bedside.</p>
              <p>NCCHI is driven to bring our Veterans the best and most advanced healthcare possible. With groundbreaking collaborative partnerships and cutting-edge technology, NCCHI focuses on enhancing healthcare delivery at VA and in the broader healthcare community.</p>
            </div>
          </div>
        </div>
        <div class="svg-container svg-blur-1" data-parallax='{"y": 400 }'>
          <svg viewBox="0 0 1688 1796" fill="none" preserveAspectRatio="xMidYMax meet">
            <g filter="url(#a)">
                <path fill="#FF1F1F" fill-opacity=".3" d="m1072.41 506 217.789 217.789-565.686 565.685-217.788-217.789z"/>
            </g>
            <g filter="url(#b)">
                <path fill="#FF1F1F" fill-opacity=".27" d="m877.5 844.777 73.92 73.92-411.5 411.5-73.92-73.92z"/>
            </g>
            <defs>
                <filter id="a" x=".723" y="0" width="1795.47" height="1795.47" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                    <feGaussianBlur stdDeviation="253" result="effect1_foregroundBlur_83_568"/>
                </filter>
                <filter id="b" x="348" y="726.777" width="721.42" height="721.42" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                    <feGaussianBlur stdDeviation="59" result="effect1_foregroundBlur_83_568"/>
                </filter>
            </defs>
          </svg>
        </div>        
      </section>    
      <!-- MISSAN STATEMENT - END -->

      <!-- WEARABLE TECHNOLOGY - START -->
      <section id="wearable-technology" class="mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
        <div class="grid-container">
          <div class="grid-row grid-gap flex-align-center">
            <div class="grid-col-12 text-center">
              <span class="h3 heading-subtitle">Experience a New Era of Connectivity</span>
              <h1 class="margin-top-0">Innovative Wearable Technology</h1>
            </div>
          </div>
          <div class="grid-row grid-gap flex-align-stretch">
            <div class="grid-col-12 desktop:grid-col-10 desktop:grid-offset-1">
              <div class="grid-row grid-gap">

            <div class="tablet:grid-col-6 display-flex flex-align-stretch">
              <div class="usa-card">
                <div class="usa-card__container shadow-2">
                  <div class="usa-card__media usa-card__media--inset">
                    <div class="usa-card__img">
                      <img
                        src="assets/img/home/fall-prevention.jpg"
                        alt="Fall Prevention image"
                        class="img-fluid radius-lg"
                      />
                    </div>
                  </div>
                  <div class="usa-card__header">
                    <h2 class="usa-card__heading">Fall Prevention e-Wearable</h2>
                  </div>
                  <div class="usa-card__body">
                    <p>Falls are costly and common, causing more extended hospital stays and increased care expenses. NCCHI and Palarum developed a wireless SmartSock system. It detects falls and alerts nurses promptly, improving patient safety and clinical response.</p>
                  </div>
                </div>
              </div>              
            </div>
            <div class="tablet:grid-col-6 display-flex flex-align-stretch">
              <div class="usa-card ">
                <div class="usa-card__container shadow-2">
                  <div class="usa-card__media usa-card__media--inset">
                    <div class="usa-card__img">
                      <img
                        src="assets/img/home/smart-white-cane.jpg"
                        alt="Smart White Cane image"
                        class="img-fluid radius-lg"
                      />
                    </div>
                  </div>
                  <div class="usa-card__header">
                    <h2 class="usa-card__heading">Smart White Cane</h2>
                  </div>
                  <div class="usa-card__body">
                    <p>NCCHI collaborates with Brian Higgins, a retired VA employee, and Veteran, to develop a revolutionary smart cane for visually impaired individuals. The smart cane, equipped with advanced sensors, such as LIDAR and ultrasound, enhances mobility and navigation, offering increased freedom, safety, and independence.</p>
                  </div>
                </div>
              </div>              
              </div>
            </div>            
            </div>
          </div>
        </div>
      </section>      
      <!-- WEARABLE TECHNOLOGY - END -->

      {% include "home/digital-twin.html" %}

      {% include "home/expertise-demand.html" %}
      
      {% include "home/virtual-teleportation.html" %}

      {% include "home/emergent-response.html" %}

      {% include "home/publications.html" %}

      {% include "home/our-team.html" %}    

      {% include "home/awards.html" %}

    </main>

    {% include "footer.html" %}

    </div>
    <!-- SITE WRAPPER - END -->

    <script src="assets/uswds/js/uswds.min.js"></script>
    <script src="assets/js/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/vendors/parallax-scroll/jquery.parallax-scroll.js"></script>
    <script src="assets/js/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="assets/js/functions.js"></script>
  </body>
</html>