<!-- USDWS Footer, medium custom -->
<footer class="usa-footer">
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
          <div class="mobile-lg:grid-col-auto">
            <!--<img class="usa-footer__logo-img" src="../assets/uswds/img/logo-img.png" alt="" />-->
            <img class="usa-footer__logo-img" src="../assets/images/va-color-seal-black-text.png"
              title="U.S. Department of Veterans Affairs" alt="Logo for the U.S. Department of Veterans Affairs" />
          <!--</div>-->
          <!--<div class="mobile-lg:grid-col-auto">-->
            <p class="usa-footer__logo-heading"><h3 class="font-serif-lg text-bold">In Crisis? Get Help Now</h3>
              <a href="http://www.veteranscrisisline.net/" title="Get Help Now for Veterans in Crisis"><button type="button" class="usa-button">Veterans Crisis Line</button></a>
            </p>
          </div>
        </div>
        <div class="usa-footer__contact-links mobile:grid-col-12 tablet:grid-col-6">
          <div class="usa-footer__social-links grid-row grid-gap-1 height-5">
            <div class="grid-col-auto width-5">
              <a class="usa-social-link" href="https://public.govdelivery.com/accounts/USVA/subscriber/new/"
                title="Subscribe to E-mail Updates"><img class="usa-social-link__icon height-3"
                  src="../assets/uswds/img/usa-icons/mail_outline-blue.svg" alt="E-mail" /></a>
            </div>
            <div class="grid-col-auto width-5">
              <a class="usa-social-link" href="https://www.facebook.com/VHAInnovation"
                title="Find us on Facebook @VHAInnovation"><img class="usa-social-link__icon height-3"
                  src="../assets/uswds/img/usa-icons/facebook-blue.svg" alt="Facebook" /></a>
            </div>
            <div class="grid-col-auto width-5">
              <a class="usa-social-link" href="https://twitter.com/VHAInnovation"
                title="Find us on Twitter @VHAInnovation"><img class="usa-social-link__icon height-3"
                  src="../assets/uswds/img/usa-icons/twitter-ltblue.svg" alt="Twitter" /></a>
            </div>
            <div class="grid-col-auto width-5">
              <a class="usa-social-link" href="https://www.instagram.com/deptvetaffairs/"
                title="Find us on Instagram @deptvetaffairs"><img class="usa-social-link__icon height-3"
                  src="../assets/uswds/img/usa-icons/instagram-blue.svg" alt="Instagram" /></a>
            </div>
            <div class="grid-col-auto width-5">
              <a class="usa-social-link" href="https://www.youtube.com/user/DeptVetAffairs"
                title="Watch us on YouTube @deptvetaffairs"><img class="usa-social-link__icon height-3"
                  src="../assets/uswds/img/usa-icons/youtube-red.svg" alt="YouTube" /></a>
            </div>
          </div>
          <!--<p class="usa-footer__contact-heading">
              &lt;Agency Contact Center&gt;
            </p>-->
          <address class="usa-footer__address">
            <div class="usa-footer__contact-info grid-row grid-gap">
              <div class="grid-col-auto font-body-md line-height-sans-3">
                U.S. Department of Veterans Affairs<br />
                810 Vermont Ave., NW<br />
                Washington, DC 20420<br />
                <a href="tel:1-800-698-2411">(800) 698-2411</a><br />
              </div>
            </div>
          </address>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer -->

  <!-- USWDS Identifier, default-->
  <div class="usa-identifier">
    <section class="usa-identifier__section usa-identifier__section--masthead" aria-label="Agency identifier,">
      <div class="usa-identifier__container">
        <section class="usa-identifier__identity" aria-label="Agency description,">
          <p class="usa-identifier__identity-domain text-white font-body-lg">
            <span class="text-bold">VA</span> VHA Innovation Ecosystem
          </p>
          <p class="usa-identifier__identity-disclaimer">
            An official website of the <a href="https://www.va.gov" title="Visit VA Homepage">U.S. Department of Veterans Affairs</a>
          </p>
        </section>
      </div>
    </section>
    <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Important links,">
      <div class="usa-identifier__container">
        <ul class="usa-identifier__required-links-list">
          <li class="usa-identifier__required-links-item">
            <a href="https://www.va.gov/ABOUT_VA/index.asp" class="usa-identifier__required-link usa-link" title="Learn about VA">About VA</a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="https://www.section508.va.gov/" class="usa-identifier__required-link usa-link" title="VA Section 508 Office">Accessibility support</a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="https://www.va.gov/ormdi/NOFEAR_Select.asp" class="usa-identifier__required-link usa-link" title="ORMDI Federal Employee Antidiscrimination and Retaliation Act Data">No FEAR Act data</a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="https://www.va.gov/accountability/" class="usa-identifier__required-link usa-link" title="Office of Accountability and Whistleblower Protection">Whistleblower Protection</a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="https://www.va.gov/oig/" class="usa-identifier__required-link usa-link" title="OIG News and Reporting">Office of the Inspector General</a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="https://www.va.gov/performance-dashboard/" class="usa-identifier__required-link usa-link" title="VA Digital Experience Performance Dashboard">Performance reports</a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="https://www.va.gov/privacy-policy/" class="usa-identifier__required-link usa-link" title="Privacy, Policies, and Legal Information">Privacy policy</a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="https://www.va.gov/foia/" class="usa-identifier__required-link usa-link" title="Freedom of Information Act Requests">FOIA requests</a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="https://www.va.gov/web/standards/disclaimer.cfm" class="usa-identifier__required-link usa-link" title="Standard VA Web Disclaimers">Disclaimers</a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="https://www.data.va.gov/" class="usa-identifier__required-link usa-link" title="Open Data Portal">Open Data</a>
          </li>
          <li class="usa-identifier__required-links-item">
            <a href="https://www.va.gov/vulnerability-disclosure-policy/" class="usa-identifier__required-link usa-link" title="Vulnerability Policy for Security Researchers">Vulnerability Disclosure Policy</a>
          </li>
        </ul>
      </div>
    </nav>
    <section class="usa-identifier__section usa-identifier__section--usagov" aria-label="U.S. government information and services,">
      <div class="usa-identifier__container">
        <div class="usa-identifier__usagov-description">
          Looking for U.S. government information and services?
        </div>
        <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
      </div>
    </section>
  </div>
</footer>

<a href="#" class="back-to-top text-center padding-1" title="Return to the top of the page"><span class="show">TOP</span><img src="../assets/img/icons/arrow-alt-circle-up-solid.svg" width="26" height="26" alt="Back to top icon"/></a>