<div class="usa-overlay"></div>


  <!-- BEGIN USWDS Banner, gov domain -->
  <section class="usa-banner" aria-label="Official website of the United States government">
    <div class="grid-container padding-0 position-relative">
      <a href="#example-modal-1" class="usa-button vcl-button" aria-controls="example-modal-1" data-open-modal><span
        class="vcl-logo"></span> Talk to the Veterans Crisis Line</a>
      <div class="usa-accordion">
        <header class="usa-banner__header">
          <div class="usa-banner__inner">
            <div class="grid-col-auto">
              <img aria-hidden="true" class="usa-banner__header-flag" src="../assets/uswds/img/us_flag_small.png" alt="US Flag icon" />
            </div>
            <div class="grid-col-fill tablet:grid-col-auto" aria-hidden="true">
              <p class="usa-banner__header-text">
                An official website of the United States government
              </p>
              <p class="usa-banner__header-action">Here's how you know</p>
            </div>
            <button type="button" class="usa-accordion__button usa-banner__button" aria-expanded="false"
              aria-controls="gov-banner-default-default">
              <span class="usa-banner__button-text">Here's how you know</span>
            </button>
          </div>
        </header>
        <div class="usa-banner__content usa-accordion__content" id="gov-banner-default-default">
          <div class="grid-row grid-gap-lg">
            <div class="usa-banner__guidance tablet:grid-col-6">
              <img class="usa-banner__icon usa-media-block__img" src="../assets/uswds/img/icon-dot-gov.svg" role="img" alt="goverment building icon"
                aria-hidden="true" />
              <div class="usa-media-block__body">
                <p>
                  <strong>Official websites use .gov</strong><br />A
                  <strong>.gov</strong> website belongs to an official government
                  organization in the United States.
                </p>
              </div>
            </div>
            <div class="usa-banner__guidance tablet:grid-col-6">
              <img class="usa-banner__icon usa-media-block__img" src="../assets/uswds/img/icon-https.svg" role="img" alt="lock icon" aria-hidden="true" />
              <div class="usa-media-block__body">
                <p>
                  <strong>Secure .gov websites use HTTPS</strong><br />A
                  <strong>lock</strong> (
                  <span class="icon-lock"><svg xmlns="http://www.w3.org/2000/svg" width="52" height="64" viewBox="0 0 52 64"
                      class="usa-banner__lock-image" role="img" aria-labelledby="banner-lock-description-default"
                      focusable="false">
                      <title id="banner-lock-title-default">Lock</title>
                      <desc id="banner-lock-description-default">Locked padlock icon</desc>
                      <path fill="#000000" fill-rule="evenodd"
                        d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z" />
                    </svg> </span>) or <strong>https://</strong> means you've safely connected to
                  the .gov website. Share sensitive information only on official,
                  secure websites.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- END USWDS Banner, gov domain -->

<!-- Begin USWDS Modal -->
<div class="mobile:margin-0 tablet:margin-y-3">
  <div class="usa-modal vcl-modal" id="example-modal-1" aria-labelledby="modal-1-heading"
    aria-describedby="modal-1-description">
    <div class="usa-modal__content">
      <div class="usa-modal__main">
        <h2 class="usa-modal__heading vcl-modal__title" id="modal-1-heading">
          We&rsquo;re here anytime, day or night - 24/7
        </h2>
        <div class="usa-prose">
          <p id="modal-1-description">
            If you are a Veteran in crisis or concerned about one, connect with our caring, qualified responders for
            confidential help. Many of them are Veterans themselves.
          </p>
          <ul>
            <li class="display-flex border-top-1px border-bottom-1px">
              <a href="tel:18002738255" tabindex="0" id="vcl-crisis-primary" class="vcl-call">
                Call <strong>
                  1-800-273-8255 and press
                  1
                </strong>
              </a>
            </li>
            <li class="display-flex border-bottom-1px">
              <a href="sms:838255" class="vcl-text"> Text to <b>838255</b></a>
            </li>
            <li class="display-flex border-bottom-1px">
              <a href="https://www.veteranscrisisline.net/ChatTermsOfService.aspx?account=Veterans%20Chat"
                class="vcl-chat"> Chat
                <b>confidentially now</b></a>
            </li>
            <li class="display-flex border-bottom-1px">
              <a href="tel:18007994889" class="vcl-tty">
                Call TTY if you
                have hearing loss <strong>1-800-799-4889</strong>
              </a>
            </li>
          </ul>
          <p class="font-sans-xs">Get more resources at <a
              href="https://www.veteranscrisisline.net/">VeteransCrisisLine.net</a>.</p>
        </div>
      </div>
      <button type="button" class="usa-button usa-modal__close" aria-label="Close this window" data-close-modal>
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="../assets/uswds/img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
<!-- END USWDS Modal popup -->

<!-- BEGIN USWDS Header, extended -->
<header class="usa-header usa-header--extended">
  <div class="usa-navbar">
    <div class="usa-logo">
      <em class="usa-logo__text"><a href="/ecosystem/views/home.html" title="VHA Innovation Ecosystem">
          VA <span> | VHA Innovation Ecosystem</span>
        </a></em>
    </div>
    <button type="button" class="usa-menu-btn">Menu</button>
  </div>
  <nav aria-label="Primary navigation" class="usa-nav">
    <div class="usa-nav__inner">
      <button type="button" class="usa-nav__close">
        <img src="../assets/uswds/img/usa-icons/close.svg" role="img" alt="Close" />
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <button type="button" class="usa-accordion__button usa-nav__link" aria-expanded="false"
            aria-controls="extended-nav-section-one">
            <span class="font-body-md">About </span> <img class="about-dropdown" src="../assets/uswds/img/usa-icons/expand_more-yellow.svg" />
          </button>
          <ul id="extended-nav-section-one" class="usa-nav__submenu">
            <li class="usa-nav__submenu-item">
              <a href="/ecosystem/views/about/mission.html" class="font-body-md"
                title="Mission"><span>Mission</span></a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="/ecosystem/views/about/leadership.html" class="font-body-md"
                title="Leadership"><span>Leadership</span></a>
            </li>
          </ul>
        </li>
        <li class="usa-nav__primary-item">
          <button type="button" class="usa-accordion__button usa-nav__link" aria-expanded="false"
            aria-controls="extended-nav-section-two">
            <span class="font-body-md">Portfolios and Programs</span> <img class="portfolio-dropdown" src="../assets/uswds/img/usa-icons/expand_more-yellow.svg" />
          </button>
          <ul id="extended-nav-section-two" class="usa-nav__submenu">
            <li class="usa-nav__submenu-item" title="VHA Innovators Network">
              <a href="/ecosystem/views/innovators-network/innovators-network.html"
                class="font-body-md"><span>Innovators Network</span></a>
            </li>
            <li class="usa-nav__submenu-item" title="VHA Diffusion of Excellence">
              <a href="/ecosystem/views/diffusion-excellence/doe.html" class="font-body-md"><span>Diffusion of
                  Excellence</span></a>
            </li>
            <li class="usa-nav__submenu-item" title="VHA National Centers for Innovation to Impact">
              <a href="/ecosystem/views/national-centers/nci2i.html" class="font-body-md"><span>National Centers for
                  Innovation to Impact</span></a>
            </li>
            <li class="usa-nav__submenu-item" title="VHA IE Fellowships">
              <a href="/ecosystem/views/programs/fellowship.html" class="font-body-md"><span>Fellowships</span></a>
            </li>
            <li class="usa-nav__submenu-item" title="VHA IE Community Engagement">
              <a href="/ecosystem/views/programs/community-engagement.html" class="font-body-md"><span>Community
                  Engagement</span></a>
            </li>
          </ul>
        </li>
        <li class="usa-nav__primary-item" title="Pathfinder">
          <a href="https://www.pathfinder.va.gov/" class="usa-nav-link font-body-md"><span>Pathfinder</span></a>
        </li>
        <li class="usa-nav__primary-item" title="News and Events">
          <a href="/ecosystem/views/news-events/newsandevents.html" class="usa-nav-link font-body-md"><span>News and
              Events</span></a>
        </li>
      </ul>
      <div class="usa-nav__secondary">
        <ul class="usa-nav__secondary-links"></ul>
        <section aria-label="Search component">
          <form class="usa-search usa-search--small" role="search">
            <label class="usa-sr-only" for="search-field">Search</label>
            <input class="usa-input" id="search-field" type="search" name="search" placeholder="Search" />
            <button class="usa-button" type="submit">
              <img src="../assets/uswds/img/usa-icons-bg/search--white.svg" class="usa-search__submit-icon"
                alt="Search" />
            </button>
          </form>
        </section>
      </div>
    </div>
  </nav>
</header>
<!-- END USWDS Header, extended-->