@use "uswds-core" as *;

.usa-card__container {
    background-color: #{color("gray-90")};
}

.usa-card__img {
    background: none;
}

.usa-card__heading,
.usa-card__container {
    font-family: "Myriad-Pro", helvetica, arial, sans-serif;
}

.vha-card {

    &--featured {

        .usa-card__container {
            background-color: #{color("red-70")};
            border-color: #{color("red-60")};
        }
    }
    

    .usa-button--unstyled {
        color: #{color("base-lightest")};
        font-family: "Myriad-Pro", Helvetica, arial, sans-serif;
    }
}