@use "uswds-core" as *;

.usa-logo__text {
    font-family: Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    
    span {
        font-weight: 100;
        font-family: Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    }
}
.usa-nav .usa-accordion {
    font-family: "Myriad-Pro", Helvetica, arial, sans-serif;
}
.usa-nav__primary button {
    color: #fff;

    &:hover {
        color: #FEE685;
    }

    &:focus {
        outline: 0.25rem solid #face00;
    }
}



@include at-media(mobile) {    
    .usa-nav__primary button {
        color: #565c65;

        &:hover {
            color: #005ea2;
        }
    }

}

@include at-media(tablet) {

    .usa-header--extended .usa-logo {
        font-size: 2rem;
        margin: 1rem 0 1.5rem 1rem;
    }

    .usa-nav__primary>.usa-nav__primary-item>a {
        color: #fff;

        &:hover {
            color: #FEE685;
        }
    }

    .usa-nav__primary button {
        color: #565c65;

        &:hover {
            color: #005ea2;
        }
    }

    .usa-header--extended .usa-nav__primary-item>.usa-current::after, 
    .usa-header--extended .usa-nav__primary-item>.usa-nav__link:hover::after {
        background-color: #FEE685;   
    }

    .usa-nav__submenu .usa-nav__submenu-item a {
        padding: 1rem;
    }

}

@include at-media(desktop) {
    
    .usa-nav__primary button {
        color: #fff;

        &:hover {
            color: #FEE685;
        }
    }        

    .usa-header--extended .usa-logo {
        font-size: 2rem;
        margin: 1rem 0 1.5rem 0rem;
    }        
}