<!-- AWARDS - START -->
<section id="awards-section" class="mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-0">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 text-center">
                <h1 class="margin-top-0">Awards</h1>
            </div>                        
        </div>
        <div class="grid-container grid-container mobile:padding-0 tablet:padding-x-3">
            <div class="owl-carousel owl-theme text-center">
                <div><img src="assets/img/logos/Fedscoop_Logo-white-1.svg" alt="Fedscoop 50 Awards" class="fedscoop-award-logo" /></div>
                <div><img src="assets/img/logos/Disruptive-Tech-Awards-2020-Winner-White.svg" alt="Disruptive Tech Awards 2020" /></div>
                <div><img src="assets/img/logos/Disruptive-Tech-Awards-2023-Winner-White.svg" alt="Disruptive Tech Awards 2023" /></div>
                <div><img src="assets/img/logos/2021_SharkTank_winner.svg" alt="Shark Tank Winner" /></div>
                <div><img src="assets/img/logos/forum-innovation-awards-logo-white.svg" alt="Forum Innovation Awards" class="forum-logo" /></div>
                <div><img src="assets/img/logos/FHIT-Innovation-2022-Award-Winners-Logo.svg" alt="2022 Winner Fed Health IT" class="fedhealth-logo" /></div>
                <div><img src="assets/img/logos/GoG-presidents.svg" alt="President's Award" class="president-award-logo" /></div>
                <div><img src="assets/img/logos/Service-to-the-Citizen-White.svg" alt="Service to the Citizen" class="service-logo" /></div>
                <div><img src="assets/img/logos/CDMRP-white.svg" alt="Congressionally Directed Medical Research Programs" class="cdmrp-logo" /></div>
                <div><img src="assets/img/logos/2023-Disruptive-Tech.svg" alt="Disruptive Tech Summit"  class="disruptive-tech-logo" /></div>
            </div>
        </div>
    </div>
</section>
<!-- AWARDS - END -->