<!-- DIGITAL TWIN - START -->
<section id="digital-twin" class="digital-twin mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
    <div class="grid-container z-index-10 position-relative">
        <div class="grid-row grid-gap flex-align-center">
            <div class="grid-row grid-gap mobile:margin-bottom-4 tablet-lg:margin-bottom-8">
                <div class="tablet-lg:grid-col-10 tablet-lg:grid-offset-1 text-center">
                    <div class="vha-video">
                        <a href="https://res.cloudinary.com/dx6xvcbwl/video/upload/v1687912541/wbd/vha-ncchi/drone-digital-twin_ef2rci.mp4" class="vha-video__play vha-video__play-action stretched-link">
                            <svg viewBox="0 0 46 46" fill="none" class="vha-video__play-icon">
                                <path d="M23 0C10.2975 0 0 10.2971 0 23C0 35.7029 10.2975 46 23 46C35.7025 46 46 35.7029 46 23C46 10.2971 35.7025 0 23 0ZM19.534 14.0944C20.2076 13.7011 21.1 13.6666 21.9096 14.2094L30.3324 19.8927C32.7858 21.6913 32.859 24.242 30.3324 26.0935L21.9096 31.7768C20.2904 32.8624 18.4001 31.7515 18.4001 29.7091V16.2748C18.4001 15.2559 18.8601 14.4877 19.534 14.0944Z" fill="white"/>
                            </svg>
                        </a>
                        <div class="vha-video__poster">
                            <img src="assets/img/home/poster-dron-digital-twin.jpg" class="radius-lg"  alt="Video poster of drone footage looking over the VA Hospital in Palo Alto, CA"/>
                        </div>
                    </div>  
                </div>                        
            </div>                        
            <div class="grid-row grid-gap">
                <div class="tablet-lg:grid-col-8 tablet-lg:grid-offset-2 text-center">
                    <h2 class="margin-bottom-0">Digital Twin</h2>
                </div>                        
                <div class="grid-col-12 tablet-lg:grid-col-8 tablet-lg:grid-offset-2 text-left">
                    <p>(NCCHI) is utilizing drone technology to create a digital twin of the VA Palo Alto healthcare system. The digital twin is a virtual replica of the physical environment, which can be used to simulate various scenarios and predict outcomes. The drones capture high-resolution images and data, which is processed using advanced analytics and machine learning algorithms. This enables the VA Palo Alto healthcare system to improve patient care, optimize resource utilization, and enhance operational efficiency. For example, the digital twin can be used to identify potential safety hazards, plan and test emergency response procedures, and optimize the layout of facilities. Overall, the use of drone technology and the creation of a digital twin has the potential to transform the way healthcare systems operate, and NCCHI is at the forefront of this innovation.</p>           
                </div>
            </div>
        </div>         
    </div>  
    <div class="svg-container svg-blur-2" data-parallax='{"y": -300 }'>
        <svg viewBox="0 0 1796 1900" fill="none" preserveAspectRatio="xMidYMax meet">
            <g filter="url(#a)">
                <path fill="#E87524" fill-opacity=".31" d="m1071.69 506 217.788 246.844L723.794 1394l-217.789-246.845z"/>
            </g>
            <g filter="url(#b)">
                <path fill="#E87524" fill-opacity=".5" d="m1163.4 785.276-50.403-57.127-265 300.354 50.403 57.128z"/>
            </g>
            <defs>
                <filter id="a" x="0" y="0" width="1795.47" height="1900" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                    <feGaussianBlur stdDeviation="253" result="effect1_foregroundBlur_443_1774"/>
                </filter>
                <filter id="b" x="688" y="568.149" width="635.402" height="677.482" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                    <feGaussianBlur stdDeviation="80" result="effect1_foregroundBlur_443_1774"/>
                </filter>
            </defs>
        </svg>
    </div>     
</section>
<!-- DIGITAL TWIN - END -->

