<!-- EMERGENT RESPONSE - START -->
<section id="emergent-response" class="emergent-response mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
    <div class="grid-container grid-container mobile:padding-0 tablet:padding-x-3">
        <div class="inner-container mobile:padding-y-8 mobile:padding-x-3 desktop:padding-y-10 desktop:padding-x-10 radius-lg">
            <div class="grid-row grid-gap flex-align-center">
                <div class="tablet:grid-col-12 tablet-lg:grid-col-5 mobile:margin-bottom-4 tablet:margin-bottom-6 tablet-lg:margin-bottom-0">
                    <img src="assets/img/home/segura-using-drone.jpg" class="img-fluid radius-lg" alt="Police officer operating a drone for an emergency" />
                </div>
                <div class="tablet:grid-col-12 tablet-lg:grid-col-7 desktop:grid-col-5">
                    <div class="grid-row grid-gap flex-align-center">
                        <div class="grid-col-12 text-left">
                        <span class="h3 heading-subtitle">Experience a New Era of Connectivity</span>
                        <h1 class="margin-top-0">Advanced Sensor Enabled Drones
                            for Emergent Response</h1>
                            <p>5G and connected tech improve facility situational awareness. NCCHI partners with VA departments to enhance emergency response, security, and routine inspections.</p>
                        </div>
                    </div>                        
                </div>            
            </div>
            <div class="emergent-response__drone-desktop"  data-parallax='{"y": 100, "x": 40}'>
                <img src="assets/img/home/drone.png" alt="Image of drone hovering for tablet device" />
            </div>
            <div class="emergent-response__drone-mobile"  data-parallax='{"y": 50}'>
                <img src="assets/img/home/drone.png" alt="Image of drone hovering for mobile device" />
            </div>            
        </div>
    </div>
</section>
<!-- EMERGENT RESPONSE - END -->