<!-- EXPERTISE DEMAND - START -->
<section id="expertise-demand" class="expertise-demand mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
    <div class="grid-container z-index-10 position-relative">
        <div class="grid-row grid-gap mobile:margin-bottom-6 tablet-lg:margin-bottom-8">
            <div class="tablet-lg:grid-col-8 tablet-lg:grid-offset-2 text-center">
                <span class="h3 heading-subtitle">5G Healthcare Revolution</span>
                <h1 class="margin-top-0">Expertise on Demand</h1>
                <p>5G is advanced telecom tech that handles more data, faster, with better performance. It improves healthcare, collaboration, and patient care. NCCHI leads "Project Convergence" with Verizon, Microsoft, and Medivis for Veterans.</p>
            </div>                        
        </div>

        <!-- AR and VR for Clinical Training - START-->
        <div class="grid-row grid-gap flex-align-center mobile:margin-bottom-6 tablet-lg:margin-bottom-8">
            <div class="tablet-lg:grid-col-6 clinical-training__video">
                <div class="vha-video">
                    <a href="https://res.cloudinary.com/dx6xvcbwl/video/upload/v1687907439/wbd/vha-ncchi/video-clinical-training-720p_guvgnp.mp4" class="vha-video__play vha-video__play-action stretched-link">
                        <svg viewBox="0 0 46 46" fill="none" class="vha-video__play-icon">
                            <path d="M23 0C10.2975 0 0 10.2971 0 23C0 35.7029 10.2975 46 23 46C35.7025 46 46 35.7029 46 23C46 10.2971 35.7025 0 23 0ZM19.534 14.0944C20.2076 13.7011 21.1 13.6666 21.9096 14.2094L30.3324 19.8927C32.7858 21.6913 32.859 24.242 30.3324 26.0935L21.9096 31.7768C20.2904 32.8624 18.4001 31.7515 18.4001 29.7091V16.2748C18.4001 15.2559 18.8601 14.4877 19.534 14.0944Z" fill="white"/>
                        </svg>
                    </a>
                    <div class="vha-video__poster">
                        <img src="assets/img/home/poster-clinical-training.jpg" class="radius-lg" />
                    </div>
                </div>                
            </div>
            <div class="tablet-lg:grid-col-6 widescreen:grid-col-5 widescreen:grid-offset-1 clinical-training__content">
                <span class="usa-tag">Training</span>
                <h2 class="margin-top-1">AR and VR for Clinical Training</h2>
                <p>5G + augmented reality enables interactive virtual teaching & training. Remote groups learn and share medical insights. Dynamic 3D holographic anatomy models enhance virtual procedures. NCCHI has projects to improve medical training for students and professionals.</p>           
            </div>
        </div>
        <!-- AR and VR for Clinical Training - END-->

        <!-- AR for Procedural Guidance - START-->
        <div class="grid-row grid-gap flex-align-center mobile:margin-bottom-6 tablet-lg:margin-bottom-8">
            <div class="tablet-lg:grid-col-6 widescreen:grid-col-5 procedural-guidance__content">
                <span class="usa-tag">Guidance</span>
                <h2 class="margin-top-1">AR for Procedural Guidance</h2>
                <p>3D holograms of patient scans offer virtual X-ray vision, revolutionizing surgeries. 5G's low latency enhances visual awareness for precise procedures. NCCHI and collaborators optimize this transformational tech for enhanced Veteran surgeries.</p>           
            </div>
            <div class="tablet-lg:grid-col-6 widescreen:grid-offset-1 procedural-guidance__video">
                <div class="vha-video">
                    <a href="https://res.cloudinary.com/dx6xvcbwl/video/upload/v1687907710/wbd/vha-ncchi/video-procedural-guidance-720p_nig51m.mp4" class="vha-video__play vha-video__play-action stretched-link">
                        <svg viewBox="0 0 46 46" fill="none" class="vha-video__play-icon">
                            <path d="M23 0C10.2975 0 0 10.2971 0 23C0 35.7029 10.2975 46 23 46C35.7025 46 46 35.7029 46 23C46 10.2971 35.7025 0 23 0ZM19.534 14.0944C20.2076 13.7011 21.1 13.6666 21.9096 14.2094L30.3324 19.8927C32.7858 21.6913 32.859 24.242 30.3324 26.0935L21.9096 31.7768C20.2904 32.8624 18.4001 31.7515 18.4001 29.7091V16.2748C18.4001 15.2559 18.8601 14.4877 19.534 14.0944Z" fill="white"/>
                        </svg>
                    </a>
                    <div class="vha-video__poster">
                        <img src="assets/img/home/poster-procedural-guidance.jpg" class="radius-lg" />
                    </div>
                </div>                
            </div>
        </div>
        <!-- AR for Procedural Guidance - END-->    
        
        <!-- AR for Pre-Surgical Planning - START-->
        <div class="grid-row grid-gap flex-align-center">
            <div class="grid-row grid-gap mobile:margin-bottom-0 tablet-lg:margin-bottom-4 pre-surgical-planning__content">
                <div class="tablet-lg:grid-col-8 tablet-lg:grid-offset-2 text-center">
                    <span class="usa-tag">Planning</span>
                    <h2 class="margin-top-1">AR for Pre-Surgical Planning</h2>
                    <p>5G + AR transforms diagnostic scans into interactive 3D models for optimized surgical approaches. NCCHI develops tools with industry partners for smaller incisions, faster recovery, and improved safety/outcomes.</p>           
                </div>                        
            </div>
            <div class="grid-row grid-gap">
                <div class="tablet-lg:grid-col-10 tablet-lg:grid-offset-1 text-center pre-surgical-planning__video">
                    <div class="vha-video">
                        <a href="https://res.cloudinary.com/dx6xvcbwl/video/upload/v1687907426/wbd/vha-ncchi/video-surgical-planning-720_adu3oq.mp4" class="vha-video__play vha-video__play-action stretched-link">
                            <svg viewBox="0 0 46 46" fill="none" class="vha-video__play-icon">
                                <path d="M23 0C10.2975 0 0 10.2971 0 23C0 35.7029 10.2975 46 23 46C35.7025 46 46 35.7029 46 23C46 10.2971 35.7025 0 23 0ZM19.534 14.0944C20.2076 13.7011 21.1 13.6666 21.9096 14.2094L30.3324 19.8927C32.7858 21.6913 32.859 24.242 30.3324 26.0935L21.9096 31.7768C20.2904 32.8624 18.4001 31.7515 18.4001 29.7091V16.2748C18.4001 15.2559 18.8601 14.4877 19.534 14.0944Z" fill="white"/>
                            </svg>
                        </a>
                        <div class="vha-video__poster">
                            <img src="assets/img/home/poster-surgical-planning.jpg" class="radius-lg" />
                        </div>
                    </div>  
                </div>                        
            </div>                        
        </div>
        <!-- AR for Pre-Surgical Planning - END-->

    </div>

    <div class="svg-container svg-blur-3" data-parallax='{"y": 450 }'>
        <svg viewBox="0 0 1688 1796" fill="none" preserveAspectRatio="xMidYMax meet">
          <g filter="url(#a)">
              <path fill="#FF1F1F" fill-opacity=".3" d="m1072.41 506 217.789 217.789-565.686 565.685-217.788-217.789z"/>
          </g>
          <g filter="url(#b)">
              <path fill="#FF1F1F" fill-opacity=".27" d="m877.5 844.777 73.92 73.92-411.5 411.5-73.92-73.92z"/>
          </g>
          <defs>
              <filter id="a" x=".723" y="0" width="1795.47" height="1795.47" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                  <feGaussianBlur stdDeviation="253" result="effect1_foregroundBlur_83_568"/>
              </filter>
              <filter id="b" x="348" y="726.777" width="721.42" height="721.42" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                  <feGaussianBlur stdDeviation="59" result="effect1_foregroundBlur_83_568"/>
              </filter>
          </defs>
        </svg>
      </div> 

</section>
<!-- EXPERTISE DEMAND - END -->