<!-- OUR TEAM - START -->
<section id="our-team" class="our-team mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
   <div class="grid-container z-index-10 position-relative">
      <div class="grid-row grid-gap">
        <div class="grid-col-12 text-center">
           <h1 class="margin-top-0">Our Team</h1>
        </div>
     </div>
     <div class="grid-row grid-gap">
        <div class="grid-col-12 tablet:grid-col-4 text-center">
           <div class="our-team__item">
              <div class="our-team__item-img ">
                 <img src="assets/img/home/team-osborne.png" alt="Thomas Osborne, M.D. - Director" />
              </div>
              <h3>Thomas Osborne, M.D.</h3>
              <h4>Director</h4>
           </div>
        </div>
        <div class="grid-col-12 tablet:grid-col-4 text-center">
           <div class="our-team__item">
              <div class="our-team__item-img ">
                 <img src="assets/img/home/team-arreola.png" alt="David Arreola, MCSE - Deputy Director of Operations" />
              </div>
              <h3>David Arreola, MCSE</h3>
              <h4>Deputy Director of Operations</h4>
           </div>
        </div>
        <div class="grid-col-12 tablet:grid-col-4 text-center">
           <div class="our-team__item">
              <div class="our-team__item-img ">
                 <img src="assets/img/home/team-veigulis.png" alt="Zachary Veigulis, MS - Chief Data Scientist" />
              </div>
              <h3>Zachary Veigulis, MS</h3>
              <h4>Chief Data Scientist</h4>
           </div>
        </div>
     </div>
     <div class="grid-row grid-gap">
        <div class="mobile:grid-col-12 tablet:grid-col text-center">
           <div class="our-team__item">
              <div class="our-team__item-img ">
                 <img src="assets/img/home/team-pham.png" alt="Linh Pham - Administrative Officer" />
              </div>
              <h3>Linh Pham</h3>
              <h4>Administrative Officer</h4>
           </div>
        </div>
        <div class="mobile:grid-col-12 tablet:grid-col text-center">
           <div class="our-team__item">
              <div class="our-team__item-img ">
                 <img src="assets/img/home/team-vrublevskiy.png" alt="Ilya Vrublevskiy - Project Manager" />
              </div>
              <h3>Ilya Vrublevskiy</h3>
              <h4>Project Manager</h4>
           </div>
        </div>
        <div class="grid-col-12 tablet:grid-col-4 text-center">
           <div class="our-team__item">
              <div class="our-team__item-img ">
                 <img src="assets/img/home/team-ware.png" alt="Anna Ware, MPH - Healthcare Data Scientist" />
              </div>
              <h3>Anna Ware, MPH</h3>
              <h4>Healthcare Data Scientist</h4>
           </div>
        </div>
     </div>
     <div class="grid-row grid-gap">
        <div class="grid-col-12 tablet:grid-col-4 text-center">
           <div class="our-team__item">
              <div class="our-team__item-img ">
                 <img src="assets/img/home/team-blumke.png" alt="Terri Blumke - Healthcare Data Scientist" />
              </div>
              <h3>Terri Blumke</h3>
              <h4>Healthcare Data Scientist</h4>
           </div>
        </div>
        <div class="grid-col-12 tablet:grid-col-4 text-center">
           <div class="our-team__item">
              <div class="our-team__item-img ">
                 <img src="assets/img/home/team-hoover.png" alt="Peter Hoover - Healthcare Data Scientist" />
              </div>
              <h3>Peter Hoover</h3>
              <h4>Healthcare Data Scientist</h4>
           </div>
        </div>
        <div class="grid-col-12 tablet:grid-col-4 text-center">
           <div class="our-team__item">
              <div class="our-team__item-img ">
                 <img src="assets/img/home/team-salatin.png" alt="Benjamin Salatin - Healthcare Data Scientist" />
              </div>
              <h3>Benjamin Salatin</h3>
              <h4>Innovation Lab Manager</h4>
           </div>
        </div>
     </div>
     <div class="grid-row grid-gap">
        <div class="grid-col-12 tablet:grid-col text-center">
           <div class="our-team__item">
              <div class="our-team__item-img ">
                 <img src="assets/img/home/team-higgins.png" alt="Brian Higgins - Innovator" />
              </div>
              <h3>Brian Higgins</h3>
              <h4>Innovator</h4>
           </div>
        </div>
     </div>
  </div>
   <div class="svg-container svg-blur-4" data-parallax='{"y": -450 }'>
      <svg viewBox="0 0 1688 1796" fill="none" preserveAspectRatio="xMidYMax meet">
         <g filter="url(#a)">
            <path fill="#FF1F1F" fill-opacity=".3" d="m1072.41 506 217.789 217.789-565.686 565.685-217.788-217.789z"/>
         </g>
         <g filter="url(#b)">
            <path fill="#FF1F1F" fill-opacity=".27" d="m877.5 844.777 73.92 73.92-411.5 411.5-73.92-73.92z"/>
         </g>
         <defs>
            <filter id="a" x=".723" y="0" width="1795.47" height="1795.47" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                  <feGaussianBlur stdDeviation="253" result="effect1_foregroundBlur_83_568"/>
            </filter>
            <filter id="b" x="348" y="726.777" width="721.42" height="721.42" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                  <feGaussianBlur stdDeviation="59" result="effect1_foregroundBlur_83_568"/>
            </filter>
         </defs>
      </svg>
   </div>   
</section>
<!-- OUR TEAM - END -->