<!-- PUBLICATIONS - START -->
<section id="publications" class="publications mobile:padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 text-center">
                <h1 class="margin-top-0">Our Publications</h1>
            </div>                        
        </div>
        <div class="grid-row grid-gap">
            <div class="grid-col-12 tablet-lg:grid-col-5 display-flex flex-align-stretch">
                <div class="usa-card vha-card vha-card--featured">
                    <div class="usa-card__container">
                      <div class="usa-card__header">
                        <h2 class="usa-card__heading">Featured Article</h2>
                      </div>
                      <div class="usa-card__body">
                        <p>Trends in Heat Related Illness: Nationwide Observational Cohort at the US Department of Veteran Affairs</p>
                      </div>
                      <div class="usa-card__footer">
                        <a href="https://www.sciencedirect.com/science/article/pii/S2667278223000561" class="usa-button usa-button--unstyled">View Article</a>
                      </div>
                    </div>
                </div>                
            </div> 
            <div class="grid-col-12 tablet-lg:grid-col-7">
                <div class="grid-row grid-gap">
                    <div class="tablet:grid-col-6 display-flex flex-align-stretch">
                        <div class="usa-card vha-card">
                            <div class="usa-card__container">
                              <div class="usa-card__body">
                                <p>Effectiveness of COVID-19 Treatment With Nirmatrelvir-Ritonavir or Molnupiravir Among U.S. Veterans: Target Trial Emulation Studies With One-Month and Six-Month Outcomes</p>
                              </div>
                              <div class="usa-card__footer">
                                <a href="https://www.acpjournals.org/doi/10.7326/M22-3565" class="usa-button usa-button--unstyled">View Article</a>
                              </div>
                            </div>
                        </div>                    
                    </div>
                    <div class="tablet:grid-col-6 display-flex flex-align-stretch">
                        <div class="usa-card vha-card">
                            <div class="usa-card__container">
                              <div class="usa-card__body">
                                <p>Adverse outcomes of SARS-CoV-2 infection with delta and omicron variants in vaccinated versus unvaccinated US veterans: retrospective cohort study</p>
                              </div>
                              <div class="usa-card__footer">
                                <a href="https://www.bmj.com/content/381/bmj-2022-074521" class="usa-button usa-button--unstyled">View Article</a>
                              </div>
                            </div>
                        </div>                    
                    </div>                    
                </div>
            </div>                                   
        </div>    
        <div class="grid-row grid-gap">
            <div class="grid-col-12 text-center">
                <a href="/publications/" class="usa-button usa-button--outline usa-button--inverse vha-button">View More Publications</a>
            </div>
        </div>
    </div>
</section>
<!-- PUBLICATIONS - END -->