<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Located in Silicon Valley, the National Center for Collaborative Healthcare Innovation is translating complex technologies from the research bench to the clinical bedside.">
  <meta name="keywords" content="National Center for Collaborative Healthcare Innovation, NCCHI">
  <title>VHA - National Centers for Collaborative Healthcare Innovation</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/styles.css">

  <link id="favicon" rel="shortcut icon" href="assets/img/favicon.ico">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="../assets/uswds/js/uswds-init.min.js"></script>

  <body class="ncchi-interior style-ncchi">

    <div class="site-wrapper">
    {% include "header-sub.html" %}

    <main>

      <!-- PAGE TITLE - START -->
      <section id="page-title" class="page-title mobile:padding-y-4 tablet:padding-y-6 desktop-lg:padding-y-8">
        <div class="grid-container">
          <div class="grid-row grid-gap flex-row flex-align-center">
            <div class="tablet-lg:grid-col-6 page-title__logo">
              <img src="../assets/img/logo.svg" alt="National Center for Collaborative Healthcare Innovation logo image" />
            </div>
            <div class="tablet-lg:grid-col-6 page-title__content">
              <h1 class="tablet-lg:margin-0">Our Publications</h1>
            </div>
          </div>
        </div>      
      </section>    
      <!-- PAGE TITLE - END -->

      <!-- PAGE TITLE - START -->
      <section id="publication-list" class="publication-list mobile:padding-y-4 tablet:padding-y-6 desktop-lg:padding-y-8">
        <div class="grid-container">
          <div class="grid-col-12">

            <div class="publication-list__item mobile padding-y-6">
              <span class="item__title">Effectiveness of COVID-19 treatment with nirmatrelvir-ritonavir or molnupiravir among U.S. Veterans: target trial emulation studies with one-month and six-month outcomes.</span>
              <span class="item__authors">Bajema KL, Berry K, Streja E, Rajeevan N, [...] Osborne TF, Viglianti EM, Aslan M, Huang GD, Ioannou GN.</span>
              <span class="item__publication">Annals of Internal Medicine.</span>
              <span class="item__url">DOI: <a href="https://doi.org/10.7326/M22-3565">https://doi.org/10.7326/M22-3565</a></span>
            </div>

            <div class="publication-list__item padding-y-6">
              <span class="item__title">Adverse outcomes of SARS-CoV-2 infection with Delta and Omicron variants in vaccinated versus unvaccinated persons: An observational cohort study. </span>
              <span class="item__authors">Amy Bohnert; Kyle Kumbier; Mazhgan Rowneki; Ashwin Gupta; Kristina Bajema; Denise M Hynes; Elizabeth Viglianti; Ann M O'Hare; Thomas Osborne; Edward J Boyko et al.</span>
              <span class="item__publication">March. 23, 2023. Part of ISSN: 1756-183. </span>
              <span class="item__url">DOI: <a href="https://doi.org/10.1136/bmj-2022-074521">https://doi.org/10.1136/bmj-2022-074521</a></span>
            </div>

            <div class="publication-list__item padding-y-6">
              <span class="item__title">The Impact of Virtual Reality on the Patients and Providers Experience in Wide-Awake, Local-Only Hand Surgery.</span>
              <span class="item__authors">McCullough M, Osborne TF, Rawlins C, Reitz RJ, Fox PM, Curtin C. </span>
              <span class="item__publication">Journal of Hand Surgery Global Online. March 26, 2023. Part of ISSN: 2589-5141.</span>
              <span class="item__url">DOI: <a href="https://doi.org/10.1016/j.jhsg.2023.01.014">https://doi.org/10.1016/j.jhsg.2023.01.014.</a></span>
            </div>

            <div class="publication-list__item padding-y-6">
              <span class="item__title">Augmented Reality Demonstration Survey Results From a Veteran Affairs Medical Center.</span>
              <span class="item__authors">Osborne TF, Arreola DM, Veigulis ZP, Morley C, Choudhry O, Lan W, Teague KR, Vega R, Mahajan SM. </span>
              <span class="item__publication">Federal Practitioner. March 20, 2023</span>
              <span class="item__url">DOI: <a href="https://pubmed.ncbi.nlm.nih.gov/37228426/">10.12788/fp.0364</a></span>
            </div>

            <div class="publication-list__item padding-y-6">
              <span class="item__title">Rates of and factors associated with primary and booster COVID-19 vaccine receipt by U.S. Veterans, December 2020 to June 2022.</span>
              <span class="item__authors">Bajema KL, Rowneki M, Berry K, Osborne TF, Bohnert A, O’Hare AM, Boyko EJ, Maciejewski ML, Bowling CB, Viglianti EM, Iwashyna TJ, Hynes DM, Ioannou GN.</span>
              <span class="item__publication">JAMA Network Open. Feb 2, 2023. Part of ISSN: 2574-3805.</span>
              <span class="item__url">DOI:  <a href="https://jamanetwork.com/journals/jamanetworkopen/fullarticle/2800897"> 10.1001/jamanetworkopen.2022.54387</a></span>
            </div>

            <div class="publication-list__item padding-y-6">
              <span class="item__title">Effectiveness of COVID-19 treatment with nirmatrelvir-ritonavir or molnupiravir among U.S. Veterans: target trial emulation studies with one-month and six-month outcomes.</span>
              <span class="item__authors">Bajema KL, Berry K, Streja E, Rajeevan N, [...] Osborne TF, Viglianti EM, Aslan M, Huang GD, Ioannou GN.</span>
              <span class="item__publication">MedRxiv. Dec 7, 2022.</span>
              <span class="item__url">DOI: <a href="https://doi.org/10.1101/2022.12.05.22283134">https://doi.org/10.1101/2022.12.05.22283134</a></span>
            </div>

            <div class="publication-list__item padding-y-6">
              <span class="item__title">Changes in postoperative opioid prescribing across three diverse healthcare systems, 2010-2020. </span>
              <span class="item__authors">Coquet J, Zammit J, Hajouji QE, Humphreys K, Asch SM, Osborne TF, Curtin CM, Hernandez-Boussard T. </span>
              <span class="item__publication">Frontiers in Digital Health. Dec. 2022. Part of ISSN: 2673-253X. </span>
              <span class="item__url">DOI: <a href="https://www.frontiersin.org/articles/10.3389/fdgth.2022.995497/full">10.3389/fdgth.2022.995497</a></span>
            </div>
            
            <div class="publication-list__item padding-y-6">
              <span class="item__title">Underspecification Presents Challenges for Credibility in Modern Machine Learning.</span>
              <span class="item__authors">D’Amour A, Heller K, Moldovan, D [...], Hou S, Mincu D, Nielson C, Osborne TF, Schrouff J, Seneviratne MG, Sculley D. </span>
              <span class="item__publication">Journal of Machine Learning Research (JMLR). Aug. 2022.</span>
              <span class="item__url"><a href="https://www.jmlr.org/papers/volume23/20-1335/20-1335.pdf">https://www.jmlr.org/papers/volume23/20-1335/20-1335.pdf</a></span>
            </div>            

            <div class="publication-list__item padding-y-6">
              <span class="item__title">Geographic and temporal variation in racial and ethnic disparities in SARS‑CoV‑2 positivity between February 2020 and August 2021 in the United States. </span>
              <span class="item__authors">Ferguson JM, Justice AC, Osborne TF, Magid HAS, Purnell AL, Rentsch CT. </span>
              <span class="item__publication">Nature: Scientific Reports. Jan. 7, 2022. Part of ISSN: 2045-2322.</span>
              <span class="item__url">DOI: <a href="https://www.nature.com/articles/s41598-021-03967-5">10.1038/s41598-021-03967-5</a></span>
            </div>

            <div class="publication-list__item padding-y-6">
              <span class="item__title">Changes in the associations of race and rurality with SARS-CoV-2 infection and mortality from February 2020 to March 2021: a population-based cohort study</span>
              <span class="item__authors"> Ioannou GN, Ferguson J, Ohare AM, Bohnert ASB, Backus LI, Boyko EJ, Osborne TF, [...] Berry K et al. </span>
              <span class="item__publication">PLoS Medicine. Oct. 21, 2021. Part of ISSN: 1549-1676.</span>
              <span class="item__url">DOI: <a href="https://journals.plos.org/plosmedicine/article?id=10.1371/journal.pmed.1003807">10.1371/journal.pmed.1003807.</a></span>
            </div>

            <div class="publication-list__item padding-y-6">
              <span class="item__title">Differences in COVID-19 Risk by Race and County-Level Social Determinants of Health Among Veterans. </span>
              <span class="item__authors">Magid HSA, Ferguson JM, Purnell AL, Osborne TF. </span>
              <span class="item__publication">International Journal of Environmental Research and Public Health (IJERPH). Dec. 4, 2021. Part of ISSN: 1660-4601. </span>
              <span class="item__url">DOI: <a href="https://www.mdpi.com/1660-4601/18/24/13140">10.3390/ijerph182413140</a></span>
            </div>
            
            <div class="publication-list__item padding-y-6">
              <span class="item__title">Differences in COVID-19 Rates by County-Level Social Determinants of Health Among Veterans.</span>
              <span class="item__authors">Magid HSA, Ferguson JM, Purnell AL, Osborne TF. </span>
              <span class="item__publication">medRxiv preprint Oct. 22, 2021</span>
              <span class="item__url"><a href="https://www.medrxiv.org/content/10.1101/2021.10.20.21265149v1">https://www.medrxiv.org/content/10.1101/2021.10.20.21265149v1</a></span>
            </div>            

            <div class="publication-list__item padding-y-6">
              <span class="item__title">Effect of Immersive Virtual Reality on Pain and Anxiety at a Veterans Affairs Health Care Facility.</span>
              <span class="item__authors">Rawlins C, Veigulis ZP, Hebert C, Curtin CM, Osborne TF. </span>
              <span class="item__publication">Fronters in VR. Oct. 5, 2021. Part of ISSN: 2673-4192. </span>
              <span class="item__url">DOI: <a href="https://www.frontiersin.org/articles/10.3389/frvir.2021.719681/full">https://www.frontiersin.org/articles/10.3389/frvir.2021.719681/full</a></span>
            </div>

            <div class="publication-list__item padding-y-6">
              <span class="item__title">MP30-06 PSA Variability and the diagnosis of clinically significant prostate cancer. </span>
              <span class="item__authors">Vilson F, Zhang B, I-Chun T, Brooks J, Osborne TF, Boya Z, Priyadip R, Leppert J.</span>
              <span class="item__publication">Sept. 2021. The Journal of Urology. Part of ISSN: 1527-3792. Part of ISSN: 0022-5347.</span>
              <span class="item__url">DOI: <a href="https://www.auajournals.org/doi/abs/10.1097/JU.0000000000002027.06">10.1097/ju.0000000000002027.06</a></span>
            </div>

            <div class="publication-list__item padding-y-6">
              <span class="item__title">Risk factors for readmissions after total joint replacement: A meta-analysis. </span>
              <span class="item__authors">Mahajan SM, Mahajan A, Nguyen C, Bui J, Abbott BT, Osborne TF. </span>
              <span class="item__publication">Journal of Bone and Joint Surgery Reviews. June 2021. ISSN: 2329-9185 </span>
              <span class="item__url">DOI: <a href="https://pubmed.ncbi.nlm.nih.gov/34125720/">10.2106/JBJS.RVW.20.00122</a></span>
            </div>

            <div class="publication-list__item padding-y-6">
              <span class="item__title">Using an Automated Electronic Health Record Score to Estimate Life Expectancy in Men Diagnosed with Prostate Cancer in The Veterans Health Administration. </span>
              <span class="item__authors">Soerensen SJC, Thomas IC, Schmidt B [...] Osborne TF, Chertow GM, Brooks JD, Rehkopf D, Leppert JT. </span>
              <span class="item__publication">Urology. June 2021 Part of ISSN: 0090-4295. </span>
              <span class="item__url">DOI: <a href="https://www.sciencedirect.com/science/article/abs/pii/S009042952100488X">10.1016/j.urology.2021.05.056</a></span>
            </div>
            
            <div class="publication-list__item padding-y-6">
              <span class="item__title">PSA variability and the diagnosis of clinically significant prostate cancer.</span>
              <span class="item__authors">Vilson F, Zhang B, Brooks J, Osborne TF, Ray P, Leppert J.</span>
              <span class="item__publication">2021 Annual Meeting of the American Urological Association to be held in Las Vegas, NV, September 10-13, 2021. Abstract accepted May 3, 2021.</span>
              <span class="item__url">Abstract ID: 21-9705</span>
            </div>            

            <div class="publication-list__item padding-y-6">
              <span class="item__title">Use of deep learning to develop continuous risk models for adverse event prediction from electronic health records. </span>
              <span class="item__authors">Tomašev N, Harris N, [...], Osborne TF, Reeves R, Hassabis D, King D, Suleyman M, Back T, Nielson C, Seneviratne MG, Ledsam JR, Mohamed S. </span>
              <span class="item__publication">Nature Protocols. May 5, 2021. Part of ISSN: 1754-2189. Part of ISSN: 1754-2189.</span>
              <span class="item__url">DOI: <a href="https://www.nature.com/articles/s41596-021-00513-5">10.1038/s41596-021-00513-5</a></span>
            </div>

            <div class="publication-list__item padding-y-6">
              <span class="item__title">Racial and ethnic disparities for SARS-CoV-2 positivity in the United States: a generalizing pandemic.</span>
              <span class="item__authors">Ferguson JM, Justice AC, Osborne TF, Magid HAS, Purnell AL, Rentsch CT. </span>
              <span class="item__publication"> medRxiv preprint May 2, 2021</span>
              <span class="item__url">DOI: <a href="https://www.medrxiv.org/content/10.1101/2021.04.27.21256215v2">10.1101/2021.04.27.21256215</a></span>
            </div>

            <div class="publication-list__item padding-y-6">
              <span class="item__title">Differences in COVID-19 Testing and Test Positivity Among Veterans, United States, 2020. </span>
              <span class="item__authors">Ferguson JM, Magid HSA, Purnell AL, Kiang MV, Osborne TF. </span>
              <span class="item__publication">Public Health Reports. April 7, 2021. Part of ISSN: 0033-3549. Part of ISSN: 1468-2877.</span>
              <span class="item__url">DOI: <a href="https://journals.sagepub.com/doi/10.1177/00333549211009498">10.1177/00333549211009498</a></span>
            </div>
            
            <div class="publication-list__item padding-y-6">
              <span class="item__title">Development of a model (COVIDVax) estimating risk of SARS-CoV-2-related death among 7.6 million US Veterans for use in vaccination prioritization.</span>
              <span class="item__authors"> Ioannou GN, Green P Fan VS […], Osborne TF, Ioannou NG, Berry K. </span>
              <span class="item__publication"> JAMA Networks Open. April 8, 2021. 4347 Part of ISSN: 2574-3805. </span>
              <span class="item__url">DOI: <a href="https://jamanetwork.com/journals/jamanetworkopen/fullarticle/2784918">10.1001/jamanetworkopen.2021</a></span>
            </div>            

            <div class="publication-list__item padding-y-6">
              <span class="item__title">Association of mortality and aspirin prescription for COVID-19 patients at the Veterans Health Administration</span>
              <span class="item__authors">Osborne, TF, Veigulis ZP, Arreola, DM, Mahajan S, Röösli E, Curtin, CM. </span>
              <span class="item__publication">PLoS ONE. 2021 Feb. 11, 2021. PMID: 33571280. PMC: PMC7877611. </span>
              <span class="item__url">DOI: <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0246825">10.1371/journal.pone.0246825</a></span>
            </div>

            <div class="publication-list__item padding-y-6">
              <span class="item__title">Association of Mortality and Aspirin Prescription for COVID-19 Patients at the Veterans Health Administration</span>
              <span class="item__authors">Osborne, TF, Veigulis ZP, Arreola, DM, Mahajan S, Röösli E, Curtin, CM. </span>
              <span class="item__publication">medRxiv preprint Dec. 14, 2020</span>
              <span class="item__url">DOI: <a href="https://www.medrxiv.org/content/10.1101/2020.12.13.20248147v1">10.1101/2020.12.13.20248147</a></span>
            </div>

            <div class="publication-list__item padding-y-6">
              <span class="item__title">Machine Learning Models for Identifying Risk Factors and Prediction of ALS Progression.</span>
              <span class="item__authors">Pettit J, Nguyen S, Cadena J, Ng B, Reimer R, Osborne TF, Gryshuk A, Priyadip R </span>
              <span class="item__publication">31st International Symposium on ALS/MND December 9-11, 2020. Live abstract poster Dec. 9, 2020.</span>
              <span class="item__url">EPI-05 <a href="https://www.youtube.com/watch?v=z6pCejDWXBA">https://www.youtube.com/watch?v=z6pCejDWXBA</a>. Video released by LLNL with IM release number: LLNL-VIDEO-816864.</span>
            </div>
            
            <div class="publication-list__item padding-y-6">
              <span class="item__title">Underspecification Presents Challenges for Credibility in Modern Machine Learning. </span>
              <span class="item__authors">D’Amour A, Heller K, Moldovan, D [...], Hou S, Mincu D, Nielson C, Osborne TF, Schrouff J, Seneviratne MG, Sculley D. </span>
              <span class="item__publication">arXiv preprint arXiv:2011.03395. 2020 Nov. 6, 2020.</span>
              <span class="item__url"><a href="https://arxiv.org/abs/2011.03395">https://arxiv.org/abs/2011.03395</a></span>
            </div>            

            <div class="publication-list__item padding-y-6">
              <span class="item__title">Automated EHR score to predict COVID-19 outcomes at US Department of Veterans Affairs. </span>
              <span class="item__authors">Osborne TF, Veigulis ZP, Arreola DM, Röösli E, Curtin CM. </span>
              <span class="item__publication">PLoS ONE. 2020 July 27; 15(7):e0236554. Part of ISSN: 1932-6203. </span>
              <span class="item__url">DOI: <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0236554">10.1371/journal.pone.0236554</a></span>
            </div>

            <div class="publication-list__item padding-y-6">
              <span class="item__title">Patient Electronic Health Records Score for Preoperative Risk Assessment Before Total Knee Arthroplasty. </span>
              <span class="item__authors">Osborne TF, Suarez P, Edwards D, Hernandez-Boussard T, Curtin C.</span>
              <span class="item__publication"> Journal of Bone and Joint Surgery. 2020 Apr. 1;5(2):e0061. Part of ISSN: 2472-7245. </span>
              <span class="item__url">DOI: <a href="https://pubmed.ncbi.nlm.nih.gov/33123663/">10.2106/JBJS.OA.19.00061</a></span>
            </div>

            <div class="publication-list__item padding-y-6">
              <span class="item__title">Predictive models for identifying risk of readmission after index hospitalization for hip arthroplasty: A systematic review.</span>
              <span class="item__authors">Mahajan SM, Mahajan A, Nguyen C, Bui J, Abbott BT, Osborne TF. </span>
              <span class="item__publication">Journal of Orthopaedics. 2020 Apr. 1. Part of ISSN: 0972-978X</span>
              <span class="item__url">DOI: <a href="https://pubmed.ncbi.nlm.nih.gov/32280173/">10.1016/j.jor.2020.03.045</a></span>
            </div>
            
            <div class="publication-list__item padding-y-6">
              <span class="item__title">Value-based intervention with hospital and pathology laboratory informatics: a case of analytics and outreach at the Veterans Affairs.</span>
              <span class="item__authors">Scott GD, Osborne TF, Gross S, Fong D. </span>
              <span class="item__publication">Journal of Pathology Informatics. 2020 Mar. 9. Part of ISSN: 2153-3539.</span>
              <span class="item__url">DOI: <a href="https://pubmed.ncbi.nlm.nih.gov/32318316/"></a></span>
            </div>            
            
          </div>
        </div>      
      </section>
      <!-- PAGE TITLE - END -->      

    </main>

    {% include "footer-sub.html" %}

    </div>
    
    <script src="../assets/uswds/js/uswds.min.js"></script>
    <script src="../assets/js/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="../assets/js/vendors/parallax-scroll/jquery.parallax-scroll.js"></script>
    <script src="../assets/js/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="../assets/js/functions.js"></script>
  </body>
</html>